header {
    height: 100vh;
    padding-top: 7 rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.typing-container #feature-text {
    margin-left: 8px;
}

.typing-container .input-cursor {
    display: inline-block;
    width: 2px;
    height: 15px;
    background-color: white;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/*CTA*/

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.3rem;
    justify-content: center;
}


/*Header Socials*/

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: "";
    width: 1px;
    height: 3rem;
    background: var(--color-primary);
}


/************ME***********/

.me {
    background: linear-gradient(rgb(73, 73, 73), transparent);
    width: 22 rem;
    height: 100vh;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5 rem 1.5rem 1.5rem;
}


/************Scroll down***********/

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


/*Media Queries(Medium Device)*/

@media screen and(max-width:1024px) {
    header {
        height: 68vh;
    }
}


/*Media Queries(Small Device)*/

@media screen and(max-width:600px) {
    header {
        height: 100vh;
    }
    .header_socials,
    .scroll_down {
        display: none;
    }
}